# Python
*.pyc
__pycache__/
venv/
*.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
backend/logs/*
!backend/logs/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
